*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../img/bg-stars-1.webp);
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

}

/* NavBar styling */
.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* background-color: black; */
    z-index: 5;
}
.navbar ul
{
    list-style: none;
    display: flex;
    height: 40px;
    padding: 0px 10px;
}
.navbar ul li
{
    padding: 5px 12px;
    cursor: pointer;
    font-size: 1rem;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.signup
{
    border: 1px solid white;
    border-radius: 8px;
}

.navbar ul span
{
    font-size: 25px;
}

.sebar
{
    display: flex;
}

.sebar li input
{
    height: 100%;
    padding: 5px 10px;
    width: 250px;
    border-radius: 8px;
}


.wrapper
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 5px solid #939aff;
    border-radius: 10px;
    border-width: 3px;
    transition: .5s;
}

h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
    transition: .5s;
}

/* .wrapper:hover h2{
color: rgb(147, 154, 255);
} */

.input-box{
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(147, 154, 255);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
}

.input-box select{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(147, 154, 255);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
}

option{
    background: black;
    color: white;
}

.input-box input::placeholder{
    color: white;
}

.input-box .icon{
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 55px;
}

.forgot-pass{
    margin: -15px 0 15px;
}

.forgot-pass a{
    color: #fff;
    font-size: .9em;
    text-decoration: none;
}

.forgot-pass a:hover{
    text-decoration: underline;
}

button{
    position: relative;
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;

    background: rgb(147, 154, 255);
    color: #fff;
    box-shadow:  20px 20px 60px #7d83d9,
             -20px -20px 60px #a9b1ff;
}

.register-link{
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}

.register-link p{
    color: #fff;
}

.register-link p a{
    color: rgb(147, 154, 255);
    text-decoration: none;
    font-weight: 600;
}