<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>VerifyCollegeServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.VerifyCollegeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyStudentServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.VerifyStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.FollowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProjectServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.addProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.learn.projectmitra.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCollegeServlet</servlet-name>
        <url-pattern>/VerifyCollegeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyStudentServlet</servlet-name>
        <url-pattern>/VerifyStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowServlet</servlet-name>
        <url-pattern>/FollowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProjectServlet</servlet-name>
        <url-pattern>/addProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
